body {
    padding-top: 70px; /* this is needed because of fixed navbar */
}
.navbar-fixed-top .navbar-collapse {
    padding-right: 15px;
}

.donation-receipt > * {
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: 210mm;
    padding: 20mm 20mm 10mm 20mm;
    margin: 0 auto;
}

.first-page {
    height: 297mm;
}

.footer {
    position: absolute;
    top: 270mm;
}